body {
    background-color: black;
    color: white;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 55pt;
    padding-top: 5%;
}

.navLink {
    font-size: 18pt;
}

.mainContent {
    background-color: black;
    margin-left: 55pt;
}

.tierRow {
    color: black;
}

.tierName {
    font-size: 22pt;
    margin: 10pt;
}

.tierContent {
    margin-left: 50pt;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.tierEntry {
    padding: 4pt;
    width: 150pt;
    text-align: center;
}

.moviePoster {
    width: 90%;
}
